body {
    margin: 0px;
    padding: 0px;
    background-color: rgb(240, 240, 240);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
nav {
    display: flex;
    background-color: white;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.459);
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    padding-left: 20px;
    padding-right: 20px;

}
nav > span {
    display: flex;
    align-items: center;
}
nav {
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bolder;
}
nav > span > *{
    padding: 6px;
}

img {
    width: 30px;
    height: 30px;
}

.bookCard {
    margin: 50px;
    padding: 30px;
    height: 200px;
    width: 200px;
    background-color: white;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.459);
    border-radius: 10px;
    border-left: 10px solid orange;
}
#bookShelf {
    padding-left: 200px;
    padding-right: 200px;
    display: grid;
    gap: 10px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: repeat(1fr);
}
input {
    background-color: rgb(240, 240, 240);
    border: 2px solid rgb(207, 207, 207);
    border-radius: 10px;
    padding: 5px;
}
#mainModal:not(.active){
    display: none;
}
#mainModal > h3 {
    align-self: center;
    font-size: 30px;
}
.active {
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 50vh;
    left: 50vw;
    transform: translate(-50%, -50%);
    width: 500px;
    height: 250px;
    justify-content: center;
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    padding: 60px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.459);
}
#mainModal > * {
    margin: 5px;
}
#mainModal > button:not(#closeButton) {
    background-color: rgba(0, 0, 0, 0.849);
    color: white;
    border-radius: 10px;
    font-weight: bolder;
    padding: 10px;
    font-size: 15px;
    width: 200px;
    align-self: center;
    border: 4px solid rgba(0, 0, 0, 0.89);
}
#closeButton {
    position: fixed;
    top: 20px;
    right: 20px;
    font-family: sans-serif;
    color:rgb(90, 90, 90);
    background-color: rgba(240, 248, 255, 0);
    border: none;
    font-size: 35px;
    
}